<div class="container my-5 d-flex justify-content-center">
    <div class="card shadow w-100" style="max-width: 500px;">
        <div class="card-header bg-primary text-white">
            <h5 class="mb-0">Editar Usuário</h5>
        </div>

        <div class="card-body">
            <form action="/user/editar" method="post" id="form">
                <input type="hidden" value="{{user.id}}">
                <div class="mb-3">
                    <label for="nome" class="form-label">Nome</label>
                    <input type="text" class="form-control" id="nome" name="nome" value="{{user.nome}}" required>
                </div>

                <div class="mb-3">
                    <label for="email" class="form-label">E-mail</label>
                    <input type="email" class="form-control" id="email" name="email" value="{{user.email}}" required>
                </div>

                <div class="mb-3">
                    <label for="senha" class="form-label">Nova Senha</label>
                    <input type="password" class="form-control" id="senha" name="senha"
                        placeholder="Digite uma nova senha">
                </div>
                <div class="mb-3">
                    <label for="senha" class="form-label">Confirme a Senha</label>
                    <input type="password" class="form-control" id="confirmarSenha" name="confirmarSenha"
                        placeholder="Confirme a nova senha">
                </div>


                <div class="alert alert-danger text-center mt-4 fw-bold" style="display: none;" id="msg_senha">
                    🚫 As senhas não se coincidem!
                </div>

                <div class="d-grid">
                    <button type="submit" class="btn btn-success"> Salvar Alterações</button>
                </div>
            </form>
        </div>

        <div class="card-footer text-end">
            <a href="/painel/usuario" class="btn btn-outline-secondary btn-sm"> Voltar</a>
        </div>
    </div>
</div>


<script>

    document.getElementById("form").addEventListener('submit', (e) => {
        const senha = document.getElementById("senha").value;
        const confirmarSenha = document.getElementById("confirmarSenha").value;
        const msg_senha = document.getElementById("msg_senha");
        if (senha !== confirmarSenha) {
            e.preventDefault();
            msg_senha.style.display = "block";
        }

    });



</script>