<div class="container my-5">
    <div class="text-center mb-4">
        <h2>Painel do Administrador</h2>
    </div>

    <div class="row row-cols-1 row-cols-md-2 g-4 justify-content-center">

        <div class="col">
            <a href="/moto/cadastro" class="btn btn-primary w-100 p-3 shadow-sm">
                Cadastrar Moto
            </a>
        </div>

        <div class="col">
            <a href="/lista/motos" class="btn btn-secondary w-100 p-3 shadow-sm">
                Lista de Motos
            </a>
        </div>

        <div class="col">
            <a href="/lista/users" class="btn btn-info w-100 p-3 shadow-sm text-white">
                Lista de Usuários
            </a>
        </div>
        <div class="col">
            <a href="/pag/lucro" class="btn btn-success w-100 p-3 shadow-sm text-white">
                Lucro total de aluguel
            </a>
        </div>



    </div>
</div>